<!DOCTYPE html>
<html lang="en">
<!--[if IE 9]>
<html class="ie9" lang="en">    <![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="en">    <![endif]-->
<head>

    <title>@ViewBag.Title - Justice Ellen's Blog</title>

   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name=viewport content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="keywords" content="">

   <link rel=icon href=favicon.ico sizes="16x16" type="image/png">

   <!-- Preloader css must be first -->
   <link href="assets/custom/css/preloader.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>

   <!-- JS -->
   <script src="assets/vendor/animatedheader/js/modernizr.custom.js"></script>

   <!-- CSS -->
   <link href="assets/vendor/bootstrap/css/bootstrap.min.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
   <link href="assets/vendor/fontawesome/css/font-awesome.min.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
   <link href="assets/vendor/owl-carousel/assets/owl.carousel.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>

   <link href="assets/custom/css/style.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>


</head>
<body class="boxed single-post single-format-standard">

<!--Pre-Loader-->
<div id="preloader"><img src="assets/custom/images/preloader.gif" alt="01"></div>

<div id="wrapper" class="">

   <!-- Content -->
   <div id="page-content-wrapper" class="content-wrap">

      <!-- Header -->
      <header class="cbp-af-header toggled">
         <div class="cbp-af-inner">
            <div class="navbar navbar-default" role="navigation">
               <div class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                     <h1 class="text-center"><a href="index.html">Emma Fletcher</a></h1>
                     <span class="small subtitle"><span class="lined">The Fashion Designer and Artist</span></span>
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                  </div>
               </div>
               <div class="container">
                  <div class="bordered">
                     <!-- Collect the nav links, forms, and other content for toggling -->
                     <nav class="collapse navbar-collapse navbar-ex1-collapse e-centered">
                        <!--<i class="nav-decor-left flaticon-christmas-rose"></i>-->
                        <ul class="nav navbar-nav">
                           <li class="dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown">Home<b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                 <li><a href="blog-sidebar-right.html">Posts and right Sidebar</a></li>
                                 <li><a href="blog-sidebar-left.html">Posts and left Sidebar</a></li>
                                 <li><a href="blog-wo-sidebar.html">Posts without Sidebar</a></li>
                                 <li><a href="blog-wo-sidebar-grid.html">Posts Grid without Sidebar</a></li>
                                 <li><a href="index.html">Posts Grid with right Sidebar</a></li>
                              </ul>
                           </li>
                           <li><a href="blog-post.html">Blog Post</a></li>
                           <li><a href="blog-about.html">About</a></li>
                           <li><a href="blog-contact.html">Contacts</a></li>
                           <li><a href="#!">Buy the Template</a></li>
                        </ul>
                     </nav>
                  </div>
                  <div class="e-divider-1 bg-color00"></div>
               </div>
            </div>
         </div>
      </header>
      <!-- / Header -->

      <!-- Content Sections -->
      <div id="content">
         <div class="e-divider-2"></div>

         <!-- Page Content -->
         <section id="articles" class="">
            <div class="container">
               <div class="row">

                  <article id="01" class="page-block col-md-12 page hentry">
                     <div class="e-divider-2"></div>
                     <div class="page-detail text-center">
                        <h2 class="entry-title page-title"><a href="#!">Welcome! Here is the information about me.</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date">29 July</a>/&nbsp;
                           Posted by: <a href="#!" class="meta-author">admin</a>/&nbsp;
                           <a href="#!" class="meta-comment">0 Comment</a>
                        </div>
                     </div>
                     <div class="e-divider-2"></div>
                     <div class="text-center"><div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div></div>
                     <div class="e-divider-8"></div>

                     <div class="inner-content">

                        <img src="assets/custom/images/instagram/13108705_1780772878824561_1506041613_n.jpg" width="340" align="left" class="img-responsive" style="margin: 0 24px 24px 0;" alt="01">

                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices lacus nec neque aliquam maximus.
                           Quisque in cursus purus. Sed a congue tellus. Nunc ac lectus nisl. Ut tellus mauris, elementum vestibulum sem ac,
                           ultrices pretium purus. Proin facilisis velit sit amet diam volutpat porta. Aenean luctus augue vel vestibulum blandit.
                           Nullam convallis mollis dui eu blandit. Sed non sapien in mi laoreet condimentum. Sed aliquam blandit nunc, ut accumsan orci.
                           Praesent scelerisque velit mollis magna dictum feugiat. Nullam laoreet quam eu quam sagittis, at suscipit nibh tempor.
                           Morbi erat metus, bibendum id purus a, rhoncus iaculis sem. Suspendisse tempor ante turpis, eu eleifend magna euismod ut.
                        </p>
                        <p>
                           Vivamus porttitor, leo in tincidunt sollicitudin, lorem odio molestie libero, in volutpat est sem vulputate nibh.
                           Sed quis felis fermentum, ullamcorper tellus ut, bibendum ligula. Vestibulum luctus mattis sapien eget ornare.
                           Donec pulvinar molestie est, id pretium mauris molestie ac. In id ex at sem faucibus malesuada a ac nulla.
                           Praesent sed felis viverra, iaculis quam ac, posuere nulla. Nunc sed diam eu diam egestas cursus.
                           Integer mattis fringilla ipsum non malesuada. Proin non felis eget nunc volutpat blandit ac ac magna.
                           Ut malesuada ultrices magna eu blandit.
                        </p>
                        <p>
                           Duis consequat urna quis nisl feugiat, et commodo felis vulputate. Proin semper consectetur sem ultricies convallis.
                           Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum vulputate sed ipsum in dictum.
                           Proin viverra rutrum sem, et lacinia diam. Proin tortor magna, interdum quis metus eget, fringilla lacinia leo. Etiam mollis
                           nulla ut velit rhoncus malesuada. Nulla et neque ipsum. Phasellus non posuere sem, et tristique nisi. Pellentesque habitant
                           morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sodales sed ligula facilisis gravida.
                           Vivamus varius arcu eu libero egestas scelerisque. Suspendisse tellus libero, varius id orci sed, suscipit gravida tortor.
                           Praesent quis erat nulla. Sed eu semper dolor, a finibus est. Donec vehicula tellus eget dapibus imperdiet.
                        </p>
                        <blockquote>
                           The wings were small, and its legs were slender for a bird of its size.
                           It was similar to the Rodrigues rail, but was larger, and had proportionally shorter wings.
                           <footer>
                              Wikipedia
                           </footer>
                        </blockquote>
                        <p>
                           Quisque iaculis euismod mi, et euismod quam vehicula at. Duis vehicula fermentum faucibus. Aliquam erat volutpat.
                           Fusce mattis orci a justo dignissim cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                           Morbi ut nibh ut mauris auctor elementum. Ut bibendum nisl eu viverra pulvinar. Vivamus aliquam urna in ipsum commodo consectetur.
                           Nam orci magna, tempus vel arcu a, blandit mattis quam.
                        </p>
                        <p>
                           Proin ornare dui at nisl sodales ullamcorper. Nullam maximus sed diam a lobortis. Curabitur at leo non ante sagittis convallis.
                           In hac habitasse platea dictumst. Suspendisse gravida, odio sed elementum pellentesque, felis mi finibus tortor, eget aliquet odio
                           arcu sit amet enim. Nam eget dolor blandit, semper felis dapibus, viverra mauris. Aenean a vestibulum ipsum, nec pulvinar neque.
                           Aliquam iaculis sem at lacinia posuere. Nam facilisis scelerisque mi, facilisis dictum magna imperdiet in.
                           Mauris dapibus rhoncus orci ac faucibus.
                        </p>


                     </div>
                  </article>

               </div>
            </div>

         </section>
         <!-- /Page Content -->

         <!--Share Section-->
         <section id="share" class="e-block-null">
            <div class="container text-center">
               <div class="share-tag-box">
                  <div class="row">
                     <div class="col-md-12">
                        <h4 class="darkrose lined">Share This</h4>
                        <ul class="list-inline social share"><!-- Social Share -->
                           <li>
                              <a href="#!" class="rst-icon-facebook"><i class="fa fa-facebook"></i></a>
                           </li>
                           <li>
                              <a href="#!" class="rst-icon-twitter"><i class="fa fa-twitter"></i></a>
                           </li>
                           <li>
                              <a href="#!" class="rst-icon-google-plus"><i class="fa fa-google-plus"></i></a>
                           </li>
                           <li>
                              <a href="#!" class="rst-icon-linkedin"><i class="fa fa-linkedin"></i></a>
                           </li>
                           <li>
                              <a class="rst-icon-pinterest" href="#!"><i class="fa fa-pinterest"></i></a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="e-divider-6"></div>
         </section>

         <!--Comment Section-->
         <section id="post-comment" class="e-block-null">
            <div class="container">
               <div class="row">

                  <div class="col-md-12 e-divider-2"></div>
                  <div class="col-md-12"><h3 class="font-accident-two-normal e-uppercase ">Leave a Comment</h3></div>
                  <div class="col-md-12 e-divider-3"></div>

                  <div class="col-md-12">
                     <form action="#" method="post" novalidate="novalidate">
                        <div class="row">
                           <div class="col-md-4">
                              <p><label>Name*</label><input type="text" name="your-name" value="" size="60" class="" aria-required="true" aria-invalid="false"></p>
                           </div>
                           <div class="col-md-4">
                              <p><label>Email*</label><input type="text" name="your-email" value="" size="60" class="" aria-required="true" aria-invalid="false"></p>
                           </div>
                           <div class="col-md-4">
                              <p><label>Website</label><input type="text" name="your-website" value="" size="60" class="" aria-required="true" aria-invalid="false"></p>
                           </div>
                           <div class="col-md-12">
                              <p><label>Message</label><textarea name="your-message" cols="60" rows="3" class="" aria-invalid="false"></textarea></p>
                           </div>
                        </div>
                        <div class="e-divider-1"></div>
                        <p><button type="button" class="btn btn-rose">Post Comment</button></p>
                     </form>
                  </div>

               </div>
            </div>
         </section>


         <!--Instagram Section-->
         <section id="instagram" class="e-block-short">
            <div class="container">
               <div class="text-center">
                  <h3 class="font-accident-two-normal e-uppercase">Enjoy My Instagram Feed</h3>
                  <!--<h5 class="font-accident-one-bold e-uppercase hovercolor">Working hard and making the success</h5>-->
                  <!--<div class="e-divider-1"></div>-->
                  <p class="small color05">
                     Maecenas mattis ut mauris vel faucibus. Fusce vehicula semper pulvinar. Cras blandit orci sed augue vehicula mollis.
                     <br>Interdum et malesuada fames ac ante ipsum primis in faucibus.
                  </p>
               </div>
               <div class="e-divider-4"></div>
               <div class="row nopadding">
                  <div class="col-md-2 col-xs-6 nopadding"><img src="assets/custom/images/instagram/12328429_1661245097460326_255494091_n.jpg" class="img-responsive" alt="01"></div>
                  <div class="col-md-2 col-xs-6 nopadding"><img src="assets/custom/images/instagram/12599154_962398730508083_979241627_n.jpg" class="img-responsive" alt="01"></div>
                  <div class="col-md-2 col-xs-6 nopadding"><img src="assets/custom/images/instagram/12677660_174383292934538_1188800865_n.jpg" class="img-responsive" alt="01"></div>
                  <div class="col-md-2 col-xs-6 nopadding"><img src="assets/custom/images/instagram/12716546_444262579096572_467284739_n.jpg" class="img-responsive" alt="01"></div>
                  <div class="col-md-2 col-xs-6 nopadding"><img src="assets/custom/images/instagram/12819136_834492543346861_161860596_n.jpg" class="img-responsive" alt="01"></div>
                  <div class="col-md-2 col-xs-6 nopadding"><img src="assets/custom/images/instagram/12826108_260008874330168_1360366906_n.jpg" class="img-responsive" alt="01"></div>
               </div>
            </div>
         </section>
         <!--/Instagram Section-->

         <div class="e-divider-6"></div>
         <div class="text-center"><div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div></div>
         <div class="e-divider-4"></div>

      </div>
      <!-- /Content Sections -->


      <!-- Google Map -->
      <!--<div class="bg-color01">-->
         <!--<div id="gm-panel">-->
            <!--<div id="google-map" class="bigmap"></div>-->
         <!--</div>-->
      <!--</div>-->
      <!-- /Google Map -->


      <!-- footer -->
      <footer>
         <div id="footer-wrapper" class="">
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     <div class="footer-sign">
                        <i class="flaticon-christmas-rose"></i>
                     </div>
                     <div class="footer-title">
                        <h2 class="font-accident-two-normal darkrose uppercase">Emma Fletcher</h2>
                        <span class="small subtitle darkrose">The Fashion Designer and Artist</span>
                        <div class="e-divider-5"></div>
                     </div>
                  </div>
                  <div class="col-md-5">
                     <p><input class="newsletter-email" type="email" required="" name="ne" placeholder="Subscribe to news"></p>
                  </div>
                  <div class="col-md-3">
                     <!--<div class="e-divider-1"></div>-->
                     <div class="follow">
                        <ul class="list-inline social">
                           <li><a target="_blank" href="#" class="rst-icon-facebook"><i class="fa fa-facebook"></i></a></li>
                           <li><a target="_blank" href="#" class="rst-icon-twitter"><i class="fa fa-twitter"></i></a></li>
                           <li><a target="_blank" href="#" class="rst-icon-pinterest"><i class="fa fa-pinterest"></i></a></li>
                           <li><a target="_blank" href="#" class="rst-icon-instagram"><i class="fa fa-instagram"></i></a></li>
                           <li><a target="_blank" href="#" class="rst-icon-youtube"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                     <div class="infoblock">
                        <!-- About Widget -->
                        <p class="small color06">Elegant Blog HTML Template. <br>Clean, minimalist and awesome<br>template for blogging based on the latest <br>Bootstrap 3.3.6.</p>
                        <div class="e-divider-1"></div>
                        <!-- / About Widget -->
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30 mb-xs-0">
                     <div class="infoblock">
                        <!-- Contacts Widget -->

                        <div class="navlinks">
                           <a href="#!"><p>Story</p></a>
                           <a href="#!"><p>Travel</p></a>
                           <a href="#!"><p>Fashion Design</p></a>
                           <a href="#!"><p>Portfolio</p></a>
                           <a href="#!"><p>Buy</p></a>
                        </div>
                        <!-- / Contacts Widget -->
                     </div>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-12">
                     <div class="infoblock">
                        <div class="navlinks">
                           <a href="#!"><p>Brands</p></a>
                           <a href="#!"><p>Schedule</p></a>
                           <a href="#!"><p>Blog</p></a>
                           <a href="#!"><p>Featured</p></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                     <div class="infoblock">
                        <p class="small color06">
                           123-123 Direct Drive,<br>2233 Daytona Beach, FLorida USA
                        </p>
                        <p class="small color06">
                           +1 234 567-45-67
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="e-divider-5"></div>
         <div id="copyrights-wrapper" class="bg-color00">
            <div class="container">
               <div class="copyright">
                  <p> © 2016 <a href="http://neuethemes.net" target="_blank">Emma Fletcher</a>. All rights reserved.</p>
                  <!--<p> Made by <a href="http://neuethemes.net" target="_blank">Neuethemes</a></p>-->
               </div>
            </div>
         </div>
      </footer>
      <!-- /footer -->

       <!-- Back to Top -->
       <div id="back-top"><a href="#top"></a></div>
       <!-- /Back to Top -->

   </div>
   <!-- /Content -->

</div>


<div id="image-cache" class="hidden"></div>


<!-- JS -->
<script src="assets/vendor/jquery/js/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/vendor/animatedheader/js/classie.js"></script>
<script src="assets/vendor/animatedheader/js/cbpAnimatedHeader.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="assets/vendor/sticky-scroll/js/jquery.stickit.min.js" type="text/javascript"></script>
<script src="assets/vendor/imagesloaded/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="assets/vendor/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>


<!-- Custom scripts -->
<script src="assets/custom/js/script.js" type="text/javascript"></script>

</body>
</html>
