@{
    ViewBag.Title = "About";
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

      <!-- Content Sections -->
      <div id="content">

         <!-- Page Content -->
         <section id="articles" class="">
            <div class="container">
               <div class="row">

                  <article id="01" class="page-block col-md-12 page hentry">
                     <div class="page-detail text-center">
                        <h2 class="entry-title page-title"><a href="#!">Welcome! Here is the information about me.</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date">29 July</a>/&nbsp;
                           Posted by: <a href="#!" class="meta-author">admin</a>/&nbsp;
                           <a href="#!" class="meta-comment">0 Comment</a>
                        </div>
                     </div>
                     <div class="e-divider-1"></div>
                      <img class="img-circle  author-img center-block" src="~/Content/Template/img/JusticeInstagram/justiceWebsite.jpg" alt="01" width="300" height="230">
                     <div class="e-divider-2"></div>

                     <div class="inner-content">

                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices lacus nec neque aliquam maximus.
                           Quisque in cursus purus. Sed a congue tellus. Nunc ac lectus nisl. Ut tellus mauris, elementum vestibulum sem ac,
                           ultrices pretium purus. Proin facilisis velit sit amet diam volutpat porta. Aenean luctus augue vel vestibulum blandit.
                           Nullam convallis mollis dui eu blandit. Sed non sapien in mi laoreet condimentum. Sed aliquam blandit nunc, ut accumsan orci.
                           Praesent scelerisque velit mollis magna dictum feugiat. Nullam laoreet quam eu quam sagittis, at suscipit nibh tempor.
                           Morbi erat metus, bibendum id purus a, rhoncus iaculis sem. Suspendisse tempor ante turpis, eu eleifend magna euismod ut.
                        </p>
                        <p>
                           Vivamus porttitor, leo in tincidunt sollicitudin, lorem odio molestie libero, in volutpat est sem vulputate nibh.
                           Sed quis felis fermentum, ullamcorper tellus ut, bibendum ligula. Vestibulum luctus mattis sapien eget ornare.
                           Donec pulvinar molestie est, id pretium mauris molestie ac. In id ex at sem faucibus malesuada a ac nulla.
                           Praesent sed felis viverra, iaculis quam ac, posuere nulla. Nunc sed diam eu diam egestas cursus.
                           Integer mattis fringilla ipsum non malesuada. Proin non felis eget nunc volutpat blandit ac ac magna.
                           Ut malesuada ultrices magna eu blandit.
                        </p>
                        <p>
                           Duis consequat urna quis nisl feugiat, et commodo felis vulputate. Proin semper consectetur sem ultricies convallis.
                           Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum vulputate sed ipsum in dictum.
                           Proin viverra rutrum sem, et lacinia diam. Proin tortor magna, interdum quis metus eget, fringilla lacinia leo. Etiam mollis
                           nulla ut velit rhoncus malesuada. Nulla et neque ipsum. Phasellus non posuere sem, et tristique nisi. Pellentesque habitant
                           morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sodales sed ligula facilisis gravida.
                           Vivamus varius arcu eu libero egestas scelerisque. Suspendisse tellus libero, varius id orci sed, suscipit gravida tortor.
                           Praesent quis erat nulla. Sed eu semper dolor, a finibus est. Donec vehicula tellus eget dapibus imperdiet.
                        </p>
                        <blockquote>
                           The wings were small, and its legs were slender for a bird of its size.
                           It was similar to the Rodrigues rail, but was larger, and had proportionally shorter wings.
                           <footer>
                              Wikipedia
                           </footer>
                        </blockquote>
                        <p>
                           Quisque iaculis euismod mi, et euismod quam vehicula at. Duis vehicula fermentum faucibus. Aliquam erat volutpat.
                           Fusce mattis orci a justo dignissim cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                           Morbi ut nibh ut mauris auctor elementum. Ut bibendum nisl eu viverra pulvinar. Vivamus aliquam urna in ipsum commodo consectetur.
                           Nam orci magna, tempus vel arcu a, blandit mattis quam.
                        </p>
                        <p>
                           Proin ornare dui at nisl sodales ullamcorper. Nullam maximus sed diam a lobortis. Curabitur at leo non ante sagittis convallis.
                           In hac habitasse platea dictumst. Suspendisse gravida, odio sed elementum pellentesque, felis mi finibus tortor, eget aliquet odio
                           arcu sit amet enim. Nam eget dolor blandit, semper felis dapibus, viverra mauris. Aenean a vestibulum ipsum, nec pulvinar neque.
                           Aliquam iaculis sem at lacinia posuere. Nam facilisis scelerisque mi, facilisis dictum magna imperdiet in.
                           Mauris dapibus rhoncus orci ac faucibus.
                        </p>


                     </div>
                  </article>

               </div>
            </div>

         </section>
         <!-- /Page Content -->

         <!--Share Section-->
         <section id="share" class="e-block-null">
            <div class="container text-center">
               <div class="share-tag-box">
                  <div class="row">
                     <div class="col-md-12">
                        <h4 class="darkrose lined">Share This</h4>
                        <ul class="list-inline social share"><!-- Social Share -->
                            <li><a target="_blank" href="https://www.facebook.com/justice.allegar" class="rst-icon-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="https://www.pinterest.com/allegar/" class="rst-icon-pinterest"><i class="fa fa-pinterest"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/lovelyjlorton/" class="rst-icon-instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="e-divider-6"></div>
         </section>

         <!--Comment Section-->
         <section id="post-comment" class="e-block-null">
            <div class="container">
               <div class="row">

                  <div class="col-md-12 e-divider-2"></div>
                  <div class="col-md-12"><h3 class="font-accident-two-normal e-uppercase ">Leave a Comment</h3></div>
                  <div class="col-md-12 e-divider-3"></div>

                  <div class="col-md-12">
                     <form action="#" method="post" novalidate="novalidate">
                        <div class="row">
                           <div class="col-md-4">
                              <p><label>Name*</label><input type="text" name="your-name" value="" size="60" class="" aria-required="true" aria-invalid="false"></p>
                           </div>
                           <div class="col-md-4">
                              <p><label>Email*</label><input type="text" name="your-email" value="" size="60" class="" aria-required="true" aria-invalid="false"></p>
                           </div>
                           <div class="col-md-4">
                              <p><label>Website</label><input type="text" name="your-website" value="" size="60" class="" aria-required="true" aria-invalid="false"></p>
                           </div>
                           <div class="col-md-12">
                              <p><label>Message</label><textarea name="your-message" cols="60" rows="3" class="" aria-invalid="false"></textarea></p>
                           </div>
                        </div>
                        <div class="e-divider-1"></div>
                        <p><button type="button" class="btn btn-rose">Post Comment</button></p>
                     </form>
                  </div>

               </div>
            </div>
         </section>

      </div>
      <!-- /Content Sections -->