@{ 
    ViewBag.Title = "Contact Me";
}
@section scripts
{   
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
<!-- Content Sections -->
<div id="content">
    <!-- Page Content -->
    <section id="articles" class="">
            <div class="row">
                <article id="01" class="page-block col-md-12 page hentry">
                    <div class="page-detail text-center">
                        <h2 class="entry-title page-title"><a href="#!">Contact me</a></h2>
                    </div>
                    <div class="inner-content"></div>
                </article>
            </div>
            <div class="text-center"><div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div></div>
            <div class="e-divider-4"></div>
    </section>
    <!-- /Page Content -->
    <!-- Feedback Block -->
    <section id="feedback-block" class="e-block-null text-center">
        <div class="container padding-side-60">
            <!--<div class="row">-->
            <!--<h3 class="font-accident-two-normal e-uppercase text-center lined-long">Drop Me a Line</h3>-->
            <!--<div class="e-divider-1"></div>-->
            <!--<p class="small fontcolor-medium text-center">-->
            <!--Customize your website as you want using different colors and 100% free fonts. Build it from pieces and-->
            <!--blocks as simple as Lego. <br>-->
            <!--Electronic Website Template is fully responsive, looks and works perfect on any device.-->
            <!--</p>-->
            <!--</div>-->
            <!--<div class="e-divider-4"></div>-->
            <div class="row">
                <div class="col-md-12 e-centered">
                    <div id="form-messages"></div>
                    <form class="form-horizontal" method="post">
                        <fieldset>
                            <div class="control-group text-left">
                                <label class="control-label" for="name">Name:</label>
                                <div class="controls">
                                    <input type="text" class="input-medium" id="name" name="name" data-val="true" data-val-required="*Required Field">
                                    <span class="field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="e-divider-1"></div>
                            <div class="control-group text-left">
                                <label class="control-label" for="email">Email:</label>
                                <div class="controls">
                                    <input type="email" class="input-medium" id="email" name="email" data-val="true" data-val-required="*Required Field" data-val-email="Not Valid">
                                    <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="e-divider-1"></div>
                            <div class="control-group text-left">
                                <label class="control-label" for="message">Message:</label>
                                <div class="controls">
                                    <textarea id="message" class="input-medium" name="message" rows="7" cols="30" data-val="true" data-val-required="*Required Field"></textarea>
                                    <span class="field-validation-valid" data-valmsg-for="message" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="e-divider-1"></div>
                            <div class="e-divider-2"></div>
                        <div class="field text-center">
                            <button type="submit" class="btn btn-lg btn-blk">Send Message</button>
                            @if (ViewBag.MailSent != null && ViewBag.MailSent)
                            {
                                <div>Message Sent!</div>
                            }
                        </div>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="e-divider-1"></div>
    </section>
    <!-- /Feedback Block -->
    <div class="e-divider-1"></div>
    <!--Contact Data-->
    <section id="contacts-data" class="e-block-null">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-12"><span class="font-accident-four-italic darkrose uppercase">Pinterest:</span></div>
                        <div class="col-sm-12"><p class="color05"><a href="https://www.pinterest.com/allegar/">https://www.pinterest.com/allegar/</a></p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><span class="font-accident-four-italic darkrose uppercase">Facebook:</span></div>
                        <div class="col-sm-12"><p class="color05"><a href="https://www.facebook.com/justice.allegar">https://www.facebook.com/justice.allegar</a></p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><span class="font-accident-four-italic darkrose uppercase">Instagram:</span></div>
                        <div class="col-sm-12"><p class="color05"><a href="https://www.instagram.com/justallegar">https://www.instagram.com/justallegar</a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Contact Data-->
</div>
<!-- /Content Sections -->



