@{
    ViewBag.Title = "Home Page";
}

<!--Owl Carousel-->
<div id="content">
    <section id="owl-carousel">
        <div class="container">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="feat-post text-center">
                        <div class="feat-wrapper">
                            <div class="feat-metas">
                                <div class="ornament-divider-fullwidth"><i class="flaticon-art-9"></i></div>
                                <a href="#!" class="meta-date">29 July</a>in <a href="#!" class="meta-cat">Blogging</a>
                                <h2 class="font-accident-two-normal text-nowrap">Elegant, Simple & Awesome Blog</h2>
                                <div><a href="#!" class="morelink">read more</a></div>
                            </div>
                        </div>
                    </div>
                    <img src="~/Content/Template/img/JusticeBackgrounds/justiceBackground1.jpg" style="width: 1000px; height: 600px" class="img-responsive img-rounded center-block" alt="01">
                </div>
                <div class="item">
                    <div class="feat-post text-center">
                        <div class="feat-wrapper">
                            <div class="feat-metas">
                                <div class="ornament-divider-fullwidth"><i class="flaticon-art-17"></i></div>
                                <a href="#!" class="meta-date">29 July</a>in <a href="#!" class="meta-cat">Blogging / Leadership</a>
                                <h2 class="font-accident-two-normal text-nowrap">Vimeo Post with auto get thumbnail</h2>
                                <div><a href="#!" class="morelink">read more</a></div>
                            </div>
                        </div>
                    </div>
                    <img src="~/Content/Template/img/JusticeBackgrounds/justiceBackground2.jpg" style="width: 1000px; height: 600px" class="img-responsive img-rounded center-block" alt="01">
                </div>
                <div class="item">
                    <div class="feat-post text-center">
                        <div class="feat-wrapper">
                            <div class="feat-metas">
                                <div class="ornament-divider-fullwidth"><i class="flaticon-ornamental-floral-design"></i></div>
                                <a href="#!" class="meta-date">29 July</a>in <a href="#!" class="meta-cat">Holidays</a>
                                <h2 class="font-accident-two-normal text-nowrap">This is a SoundCloud Post</h2>
                                <div><a href="#!" class="morelink">read more</a></div>
                            </div>
                        </div>
                    </div>
                    <img src="~/Content/Template/img/JusticeBackgrounds/justiceBackground3.jpg" style="width: 1000px; height: 600px" class="img-responsive img-rounded center-block" alt="01">
                </div>
                <div class="item">
                    <div class="feat-post text-center">
                        <div class="feat-wrapper">
                            <div class="feat-metas">
                                <div class="ornament-divider-fullwidth"><i class="flaticon-two-3"></i></div>
                                <a href="#!" class="meta-date">29 July</a>in <a href="#!" class="meta-cat">Uncategorized</a>
                                <h2 class="font-accident-two-normal text-nowrap">Greece Vacation in August</h2>
                                <div><a href="#!" class="morelink">read more</a></div>
                            </div>
                        </div>
                    </div>
                    <img src="~/Content/Template/img/JusticeBackgrounds/justiceBackground4.jpg" style="width: 1000px; height: 600px" class="img-responsive img-rounded center-block" alt="01">
                </div>
            </div>
            <!--/Owl Carousel-->
            <!-- Content-->
            <div class="container">
                <div class="row col-md-6">
                    <!--About Widget-->
                    <div id="about-widget" class="widget_about">
                        <div class="text-center widget-wrap">
                            <div class="e-divider-4"></div>
                            <img class="img-circle  author-img center-block" src="~/Content/Template/img/JusticeInstagram/justiceWebsite.jpg" alt="01" width="300" height="230">
                            <div class="e-divider-3"></div>
                            <h5 class="hello">Hi! I am Justice</h5>
                            <p>Working as a fashion designer can just as well mean supervising a design team at a sportswear company as producing a label under your own name. </p>
                            <div class="e-divider-2"></div>
                            <ul class="list-inline social">
                                <li><a target="_blank" href="#" class="rst-icon-facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="#" class="rst-icon-twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="#" class="rst-icon-pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a target="_blank" href="#" class="rst-icon-instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a target="_blank" href="#" class="rst-icon-youtube"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <!--/ About Widget-->
                    <!--Newsletter Widget-->
                    <div class="row col-md-6 ">
                        <div id="newsletter-widget" class="widget_newsletterwidget text-center">
                            <div class="e-divider-4"></div>
                            <div class="title widget-title lined" p style="margin-top: 65px;">Newsletter</div>
                            <p>Sign up to receive updates <br>and the latests news about me. I respect your privacy and don't spam.</p>
                            <div class="newsletter newsletter-widget">
                                <form action="#">
                                    <input type="hidden" name="nr" value="widget">
                                    <div class="row">
                                        <div class="form-group col-sm-6 col-lg-offset-3">
                                            <label class="control-label" for="name">Name:</label>
                                            <div class="controls">
                                                <input type="text" class="input-medium" id="name" name="name" data-val="true" data-val-required="*Required Field">
                                                <span class="field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6 col-lg-offset-3">
                                            <label class="control-label" for="email">Email:</label>
                                            <div class="controls">
                                                <input type="email" class="input-medium" id="email" name="email" data-val="true" data-val-required="*Required Field" data-val-email="Not Valid">
                                                <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6 col-lg-offset-3">
                                            <p><input class="newsletter-submit btn btn-rose" type="submit" value="Subscribe"></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        </div>
                        </div>
                        <!--/Newsletter Widget-->
                        <!--Resent Posts Widget-->
                        <div id="resent-widget" class="widget_recent_post text-center">
                            <div class="title widget-title lined">Recent Posts</div>
                            <div class="container">
                                <div class="col-md-4">
                                    <div class="media">
                                        <div class="media-middle">
                                            <a href="#!"><img class="media-object center-block img-rounded" src="~/Content/Template/img/JusticeBackgrounds/justiceBackground4.jpg" alt="01" width="200" height="200"></a>
                                        </div>
                                        <div class="media-body">
                                            <span class="meta-date text-center">
                                                <script>document.write(new Date().toLocaleDateString());</script>
                                            </span>
                                            <h4 class="media-heading text-center">
                                                <a href="#!">Elegant, Simple &amp; Minimalist Blog</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="media">
                                        <div class="media-middle">
                                            <a href="#!"><img class="media-object center-block img-rounded" src="~/Content/Template/img/JusticeBackgrounds/justiceBackground2.jpg" alt="01" width="200" height="200"></a>
                                        </div>
                                        <div class="media-body">
                                                <span class="meta-date text-center">
                                                    <script>document.write(new Date().toLocaleDateString());</script>
                                                </span>
                                                <h4 class="media-heading text-center">
                                                    <a href="#!">Enjoy Browsing Your Beautiful Photos</a>
                                                </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="media">
                                        <div class="media-middle">
                                                <a href="#!"><img class="media-object center-block img-rounded" src="~/Content/Template/img/JusticeBackgrounds/justiceBackground3.jpg" alt="01" width="200" height="200" ></a>
                                        </div>
                                        <div class="media-body">
                                            <span class="meta-date text-center">
                                                <script>document.write(new Date().toLocaleDateString());</script>
                                            </span>
                                            <h4 class="media-heading text-center"><a href="#!">Vimeo Post with auto get thumbnail</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="e-divider-8"></div>
                        </div>
                        <!--/Resent Posts Widget-->
                        <!--Categories Widget-->
                        <div class="container">
                            <div class="row col-lg-6 text-center">
                                <aside id="categories-widget" class="widget_categories">
                                    <div class="title widget-title lined text-center">Categories</div>
                                    <ul>
                                        <li>
                                            <a href="#!" class="text-center">Blogging</a>
                                        </li>
                                        <li>
                                            <a href="#!" class="text-center">Europe</a>
                                        </li>
                                        <li>
                                            <a href="#!" class="text-center">Holidays</a>
                                        </li>
                                        <li>
                                            <a href="#!" class="text-center">Leadership</a>
                                        </li>
                                        <li>
                                            <a href="#!" class="text-center">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#!" class="text-center">Uncategorized</a>
                                        </li>
                                        <li>
                                            <a href="#!" class="text-center">Video</a>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <!--/Categories Widget-->
                            <!--Archives Widget-->
                            <div class="row col-lg-6 text-center">
                                <aside id="archives-widget" class="widget_archive">
                                    <div class="title widget-title lined text-center">Archives</div>
                                    <ul>
                                        <li>
                                            <a href="#!" class="text-center">August 2015</a>
                                        </li>
                                        <li>
                                            <a href="#!" class="text-center">July 2015</a>
                                        </li>
                                        <li>
                                            <a href="#!" class="text-center">June 2015</a>
                                        </li>
                                        <li>
                                            <a href="#!" class="text-center">May 2015</a>
                                        </li>
                                    </ul>
                                </aside>                               
                            </div>
                            <!--/Archives Widget-->
                        </div>
                    </div>
        </section>
    <!--/Content-->
</div>
