@{
    ViewBag.Title = "Blog Posts";
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

      <!-- Content Sections -->
      <div id="content">
         <div class="e-divider-2"></div>

         <!-- Articles -->
         <section id="articles" class="">
             <div class="container">
                 <div class="row has-sidebar-right">

                     <!--Content Column-->
                     <div class="col-md-8 pull-left">
                         <div class="row row-flex row-flex-wrap">

                             <article id="01" class="post-block col-md-12 post hentry">

                                 <div class="post-detail">
                                     <div class="meta-cat">
                                         <a href="#!" rel="category tag">Europe &nbsp;/</a>&nbsp;<a href="#!" rel="category tag">Travel</a>
                                     </div>
                                     <h2 class="entry-title"><a href="#!">Elegant, Simple &amp; Awesome Blog Made With Love</a></h2>
                                     <div class="metas">
                                         Posted on: <a href="#!" class="meta-date">29 July</a>/&nbsp;
                                         Posted by: <a href="#!" class="meta-author">admin</a>/&nbsp;
                                         <a href="#!" class="meta-comment">0 Comment</a>
                                     </div>
                                 </div>
                                 <div class="img-wrap">
                                     <a href="#!">
                                         <img class="img-responsive" src="assets/custom/images/demo01/02.jpg" alt="">
                                     </a>
                                 </div>
                                 <div class="inner-content">

                                     <p>
                                         The red rail (Aphanapteryx bonasia) is an extinct species of flightless rail. It was endemic to the Mascarene island of Mauritius, east of Madagascar in the Indian Ocean.
                                         It had a close relative on Rodrigues island, the likewise extinct Rodrigues rail (Erythromachus leguati), with which it is sometimes considered congeneric.
                                         Its relationship with other rails is unclear. Rails often evolve flightlessness when adapting to isolated islands, free of mammalian predators.
                                     </p>
                                     <blockquote>
                                         If you live long enough, you'll make mistakes. But if you learn from them, you'll be a better person. It's how you handle adversity, not how it affects you. The main thing is never quit, never quit, never quit.
                                         <footer>William J. Clinton</footer>
                                     </blockquote>
                                     <p>
                                         The red rail was a little larger than a chicken and had reddish, hairlike plumage, with dark legs and a long, curved beak. The wings were small, and its legs were slender for a bird of its size.
                                         It was similar to the Rodrigues rail, but was larger, and had proportionally shorter wings. It has been compared to a kiwi or a limpkin in appearance and behaviour.
                                         It is believed to have fed on invertebrates, and snail shells have been found with damage matching an attack by its beak. Human hunters took advantage of an attraction
                                         red rails had to red objects by using coloured cloth to lure the birds so that they could be beaten with sticks.
                                     </p>
                                     <ul>
                                         <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                         <li>Quisque dapibus maximus sagittis.</li>
                                         <li>
                                             Morbi ipsum arcu, porta at consequat
                                             <ul>
                                                 <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                 <li>Quisque dapibus maximus sagittis.</li>
                                                 <li>Morbi ipsum arcu, porta at consequat</li>
                                                 <li>Sed ornare lectus eros</li>
                                                 <li>Aenean dignissim ante vel enim euismod</li>
                                                 <li>Donec non condimentum nisl</li>
                                             </ul>
                                         </li>
                                         <li>Sed ornare lectus eros</li>
                                         <li>Aenean dignissim ante vel enim euismod</li>
                                         <li>Donec non condimentum nisl</li>
                                     </ul>
                                     <p>
                                         Until subfossil remains were discovered in the 1860s, scientists only knew the red rail from 17th century descriptions and illustrations.
                                         These were thought to represent several different species, which resulted in a large number of invalid junior synonyms.
                                         It has been suggested that all late 17th-century accounts of the dodo actually referred to the red rail, after the former had become extinct.
                                         The last mention of a red rail sighting is from 1693, and it is thought to have gone extinct around 1700, due to predation by humans and introduced species.
                                     </p>
                                     <img src="assets/custom/images/instagram/13256597_1748998732010880_842173437_n.jpg" width="340" class="img-responsive" align="left" style="margin: 0 24px 24px 0;" alt="01">
                                     <p>
                                         Much information about the bird's appearance comes from a painting attributed to Jacob Hoefnagel, based on a bird in the menagerie of Emperor Rudolph II around 1610.
                                         It is the only coloured depiction of the species, showing the plumage as reddish brown, but it is unknown whether it was based on a stuffed or living specimen.
                                         The bird had most likely been brought alive to Europe, as it is unlikely that taxidermists were on board the visiting ships, and spirits were not yet used to preserve biological specimens.
                                         Most tropical specimens were preserved as dried heads and feet. It had probably lived in the emperor's zoo for a while together with the other animals painted for the same series.
                                         The painting was discovered in the emperor's collection and published in 1868 by Georg von Frauenfeld, along with a painting of a dodo from the same collection and artist.
                                         This specimen is thought to have been the only red rail that ever reached Europe.[15]
                                     </p>
                                     <p>
                                         The travel journal of the Dutch East India Company ship Gelderland (1601–1603), rediscovered in the 1860s, contains good sketches of several now-extinct
                                         Mauritian birds attributed to the artist Joris Laerle, including an unlabelled red rail. The bird appears to have been stunned or killed, and the sketch is the earliest
                                         record of the species, but was only rediscovered in the 1860s. The image was sketched with pencil and finished in ink, but details such as a deeper beak and the shoulder
                                         of the wing are only seen in the underlying sketch.[16] In addition, there are three rather crude black-and-white sketches, but differences in them were enough
                                         for some authors to suggest that each image depicted a distinct species, leading to the creation of several scientific names which are now synonymous with Aphanapteryx bonasia.
                                     </p>
                                     <img src="assets/custom/images/instagram/13108705_1780772878824561_1506041613_n.jpg" width="340" class="img-responsive" align="right" style="margin: 0 0 24px 24px;" alt="01">
                                     <p>
                                         There are also depictions of what appears to be a red rail in three of Roelant Savery's paintings. In his famous Edwards' Dodo painting from 1626, a rail-like bird is seen
                                         swallowing a frog behind the dodo, but this identification has been doubted, and it may instead show a bittern. A bird resembling a red rail is also figured in Jacopo
                                         Bassano's painting Arca di Noè ("Noah's Ark") from c. 1570.[12] It has been pointed out that it is doubtful that a Mauritian bird could have reached Italy this early,
                                         but the attribution may be inaccurate, as Bassano had four artist sons who used the same name.[18] A similar bird is also seen in Jan Brueghel the Elder's Noah's Ark painting.
                                     </p>
                                     <p>
                                         Contemporary accounts are repetitive and do not shed much light on the bird's life history. The shape of the beak indicates it could have captured reptiles and invertebrates.
                                         There were many endemic land snails on Mauritius, including the extinct Tropidophora carinata, and subfossil shells have been found with damage matching attacks from the beak
                                         of the red rail.[4][19] No contemporary accounts were known to mention the red rail's diet, until the 1660s report of Johannes Pretorius about his stay on Mauritius was
                                         published in 2015, where he mentioned that the bird "scratches in the earth with its sharp claws like a fowl to find food such as worms under the fallen leaves.
                                     </p>
                                     <p>
                                         Though Mauritius had previously been visited by Arab vessels in the Middle Ages and Portuguese ships between 1507 and 1513, they did not settle on the island.
                                         The Dutch Empire acquired the island in 1598, renaming it after Maurice of Nassau, and it was used from then on for the provisioning of trade vessels of the Dutch
                                         East India Company. To the sailors who visited Mauritius from 1598 and onwards, the fauna was mainly interesting from a culinary standpoint. The dodo was sometimes
                                         considered rather unpalatable, but the red rail was a very popular gamebird for the Dutch and French settlers. The reports dwell upon the varying ease with which the bird
                                         could be caught according to the hunting method and the fact that when roasted it was considered similar to pork.
                                     </p>
                                     <p>
                                         Hoffman's account refers to the red rail by the German version of the Dutch name originally applied to the dodo, "dod-aers", and John Marshall used "red hen"
                                         interchangeably with "dodo" in 1668. The ecologist Anthony Cheke has suggested that the name "dodo" was transferred to the red rail after the former had gone extinct,
                                         so that all post 1662 references to "dodos" refer to the rail instead.[25] A 1681 account of a "dodo", previously thought to have been the last, mentioned that the meat
                                         was "hard", similar to the description of red hen meat.[4] Errol Fuller has also cast the 1662 "dodo" sighting in doubt, as the reaction to distress cries of the birds
                                         mentioned matches what was described for the red rail.[12] Milne-Edwards suggested that early travellers may have confused young dodos with red rails.
                                     </p>

                                 </div>

                                 <!--Share Section-->
                                 <section id="share">
                                     <div class="share-tag-box">
                                         <div class="row">
                                             <div class="col-md-6 text-left rb">
                                                 <h4 class="darkrose">Share This</h4>
                                                 <ul class="list-inline social share">
                                                     <!-- Social Share -->
                                                     <li>
                                                         <a target="_blank" href="https://www.facebook.com/justice.allegar" class="rst-icon-facebook"><i class="fa fa-facebook"></i></a>
                                                     </li>
                                                     <li>
                                                         <a target="_blank" href="https://www.pinterest.com/allegar/" class="rst-icon-pinterest"><i class="fa fa-pinterest"></i></a>
                                                     </li>
                                                     <li>
                                                         <a target="_blank" href="https://www.instagram.com/lovelyjlorton/" class="rst-icon-instagram"><i class="fa fa-instagram"></i></a>
                                                     </li>
                                                 </ul>
                                             </div>
                                             <div class="col-md-6 text-right">
                                                 <h4>Tags</h4>
                                                 <ul class="list-inline tags">
                                                     <li>
                                                         <a href="#!" rel="tag">Asia</a>
                                                     </li>
                                                     <li>
                                                         <a href="#!" rel="tag">Asia travel</a>
                                                     </li>
                                                     <li>
                                                         <a href="#!" rel="tag">cheap holidays</a>
                                                     </li>
                                                     <li>
                                                         <a href="#!" rel="tag">cheap hotels</a>
                                                     </li>
                                                     <li>
                                                         <a href="#!" rel="tag">retirement</a>
                                                     </li>
                                                     <li>
                                                         <a href="#!" rel="tag">travel</a>
                                                     </li>
                                                     <li>
                                                         <a href="#!" rel="tag">travel advice</a>
                                                     </li>
                                                 </ul>
                                             </div>
                                         </div>
                                     </div>
                                 </section>

                                 <!--Comments-->
                                 <section id="comments" class="">
                                     <div class="e-divider-2"></div>
                                     <h3 class="font-accident-two-normal e-uppercase">4 comments:</h3>
                                     <!--<div class="e-divider-3"></div>-->
                                     <ul class="media-list">
                                         <li class="media">
                                             <div class="media-left">
                                                 <a href="#">
                                                     <img class="media-object" alt="64x64" src="assets/custom/images/userpic02.jpg">
                                                 </a>
                                             </div>
                                             <div class="media-body">
                                                 <div class="post-data">
                                                     <div class="post-date">2014 Jun, 14</div>
                                                     <div class="post-author"><a href="#">Udo Stein</a></div>
                                                 </div>
                                                 <div class="comment">
                                                     <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                                 </div>
                                                 <p><a href="#" class="btn btn-small btn-rose-str">Log In to Reply</a></p>

                                                 <!-- Nested media object -->
                                                 <div class="media">
                                                     <div class="media-left">
                                                         <a href="#">
                                                             <img class="media-object" alt="64x64" src="assets/custom/images/userpic03.jpg">
                                                         </a>
                                                     </div>
                                                     <div class="media-body">
                                                         <div class="post-data">
                                                             <div class="post-date">2014 Jun, 14</div>
                                                             <div class="post-author"><a href="#">James Quinn</a></div>
                                                         </div>
                                                         <div class="comment">
                                                             <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                                         </div>
                                                         <p><a href="#" class="btn btn-small btn-rose-str">Log In to Reply</a></p>
                                                         <!-- Nested media object -->
                                                         <div class="media">
                                                             <div class="media-left">
                                                                 <a href="#">
                                                                     <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="assets/custom/images/userpic02.jpg">
                                                                 </a>
                                                             </div>
                                                             <div class="media-body">
                                                                 <div class="post-data">
                                                                     <div class="post-date">2014 Jun, 14</div>
                                                                     <div class="post-author"><a href="#">Udo Stein</a></div>
                                                                 </div>
                                                                 <div class="comment">
                                                                     <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                                                 </div>
                                                                 <p><a href="#" class="btn btn-small btn-rose-str">Log In to Reply</a></p>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <!-- Nested media object -->
                                                 <div class="media">
                                                     <div class="media-left">
                                                         <a href="#">
                                                             <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="assets/custom/images/userpic04.jpg">
                                                         </a>
                                                     </div>
                                                     <div class="media-body">
                                                         <div class="post-data">
                                                             <div class="post-date">2014 Jun, 14</div>
                                                             <div class="post-author"><a href="#">Franc Ditz</a></div>
                                                         </div>
                                                         <div class="comment">
                                                             <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                                         </div>
                                                         <p><a href="#" class="btn btn-small btn-rose-str">Log In to Reply</a></p>
                                                     </div>
                                                 </div>
                                             </div>
                                         </li>
                                     </ul>
                                 </section>
                                 <div class="e-divider-8"></div>

                                 <!--Post Comment-->
                                 <section id="post-comment" class="">

                                     <div class="e-divider-2"></div>
                                     <h3 class="font-accident-two-normal e-uppercase">Leave a Comment</h3>
                                     <div class="e-divider-3"></div>

                                     <form action="#" method="post" novalidate="novalidate">
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label class="control-label" for="name">Name:</label>
                                                 <div class="controls">
                                                     <input type="text" class="input-medium" id="name" name="name" data-val="true" data-val-required="*Required Field">
                                                     <span class="field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true"></span>
                                                 </div>
                                             </div>
                                             <div class="col-md-6">
                                                 <label class="control-label" for="email">Email:</label>
                                                 <div class="controls">
                                                     <input type="email" class="input-medium" id="email" name="email" data-val="true" data-val-required="*Required Field" data-val-email="Not Valid">
                                                     <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                                                 </div>
                                             </div>
                                             <div class="col-md-12">
                                                 <label class="control-label" for="message">Message:</label>
                                                 <div class="controls">
                                                     <textarea id="message" class="input-medium" name="message" rows="7" cols="60" data-val="true" data-val-required="*Required Field"></textarea>
                                                     <span class="field-validation-valid" data-valmsg-for="message" data-valmsg-replace="true"></span>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="e-divider-1"></div>
                                         <p><button type="button" class="btn btn-rose">Post Comment</button></p>
                                     </form>

                                 </section>

                             </article>

                         </div>
                     </div>
                     <!--/Content Column-->
                     <!--Sidebar-->
                     <div class="col-md-4 sticky-column" data-sticky_column>
                         <div class="sidebar">

                             <!--About Widget-->
                             <aside id="about-widget" class="widget widget_about">
                                 <div class="text-center widget-wrap">
                                     <div class="e-divider-4"></div>
                                     <img class="img-circle  author-img center-block" src="~/Content/Template/img/JusticeInstagram/justiceWebsite.jpg" alt="01" width="300" height="230">
                                     <div class="e-divider-3"></div>
                                     <h5 class="hello">Hi! I am Justice</h5>
                                     <p>Working as a fashion designer can just as well mean supervising a design team at a sportswear company as producing a label under your own name. </p>
                                     <div class="e-divider-2"></div>
                                     <ul class="list-inline social">
                                         <li>
                                             <a target="_blank" href="https://www.facebook.com/justice.allegar" class="rst-icon-facebook"><i class="fa fa-facebook"></i></a>
                                         </li>
                                         <li>
                                             <a target="_blank" href="https://www.pinterest.com/allegar/" class="rst-icon-pinterest"><i class="fa fa-pinterest"></i></a>
                                         </li>
                                         <li>
                                             <a target="_blank" href="https://www.instagram.com/lovelyjlorton/" class="rst-icon-instagram"><i class="fa fa-instagram"></i></a>
                                         </li>
                                     </ul>
                                     <div class="e-divider-2"></div>
                                 </div>
                                 <div class="clearfix"></div>
                             </aside>
                             <!--/ About Widget-->
                             <!--Newsletter Widget-->
                             <aside id="newsletter-widget" class="widget widget_newsletterwidget">
                                 <div class="title widget-title lined">Newsletter</div>
                                 <p>Sign up to receive updates <br>and the latests news about me. I respect your privacy and don't spam.</p>
                                 <div class="newsletter newsletter-widget">
                                     <form action="#">
                                         <input type="hidden" name="nr" value="widget">
                                         <div class="row">
                                             <div class="form-group col-sm-12">
                                                 <label class="control-label" for="name">Name:</label>
                                                 <div class="controls">
                                                     <input type="text" class="input-medium" id="name" name="name" data-val="true" data-val-required="*Required Field">
                                                     <span class="field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true"></span>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="form-group col-sm-12">
                                                 <label class="control-label" for="email">Email:</label>
                                                 <div class="controls">
                                                     <input type="email" class="input-medium" id="email" name="email" data-val="true" data-val-required="*Required Field" data-val-email="Not Valid">
                                                     <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                                                 </div>
                                             </div>
                                         </div>
                                         <p><input class="newsletter-submit btn btn-rose" type="submit" value="Subscribe"></p>
                                     </form>
                                 </div>
                                 <div class="clearfix"></div>
                             </aside>
                             <!--/Newsletter Widget-->
                             <!--Recent Posts Widget-->
                             <aside id="resent-widget" class="widget widget_recent_post">
                                 <div class="title widget-title lined">Recent Post</div>
                                 <div>
                                     <div class="media">
                                         <div class="media-left"><a href="#!"><img class="media-object" src="assets/custom/images/resent-01.jpg" alt="01"></a></div>
                                         <div class="media-body">
                                             <span class="meta-date">29 July 2015</span>
                                             <h4 class="media-heading">
                                                 <a href="#!">Elegant, Simple &amp; Minimalist Blog  <em class="highlight">Made With Love</em></a>
                                             </h4>
                                         </div>
                                     </div>
                                     <div class="media">
                                         <div class="media-left">
                                             <a href="#!"><img class="media-object" src="assets/custom/images/resent-02.jpg" alt="01"></a>
                                         </div>
                                         <div class="media-body">
                                             <h4 class="media-heading">
                                                 <span class="meta-date">22 July 2015</span>
                                                 <a href="#!">Enjoy Browsing Your Beautiful Photos</a>
                                             </h4>
                                         </div>
                                     </div>
                                     <div class="media">
                                         <div class="media-left">
                                             <a href="#!">
                                                 <img class="media-object" src="assets/custom/images/resent-03.jpg" alt="01">
                                             </a>
                                         </div>
                                         <div class="media-body">
                                             <span class="meta-date">29 July 2015</span>
                                             <h4 class="media-heading"><a href="#!">Vimeo Post with auto get thumbnail</a></h4>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="e-divider-4"></div>
                                 <div class="clearfix"></div>
                             </aside>
                             <!--/Recent Posts Widget-->
                             <!--Categories Widget-->
                             <aside id="categories-widget" class="widget widget_categories">
                                 <div class="title widget-title lined">Categories</div>
                                 <ul>
                                     <li class="cat-item cat-item-2">
                                         <a href="#!">Blogging</a> (4)
                                     </li>
                                     <li class="cat-item cat-item-19">
                                         <a href="#!">Europe</a> (5)
                                     </li>
                                     <li class="cat-item cat-item-40">
                                         <a href="#!">Holidays</a> (2)
                                     </li>
                                     <li class="cat-item cat-item-3">
                                         <a href="#!">Leadership</a> (3)
                                     </li>
                                     <li class="cat-item cat-item-43">
                                         <a href="#!">Travel</a> (4)
                                     </li>
                                     <li class="cat-item cat-item-1">
                                         <a href="#!">Uncategorized</a> (3)
                                     </li>
                                     <li class="cat-item cat-item-7">
                                         <a href="#!">Video</a> (2)
                                     </li>
                                 </ul>
                                 <div class="e-divider-2"></div>
                                 <div class="clearfix"></div>
                             </aside>
                             <!--/Categories Widget-->
                             <!--Archives Widget-->
                             <aside id="archives-widget" class="widget widget_archive">
                                 <div class="title widget-title lined">Archives</div>
                                 <ul>
                                     <li><a href="#!">August 2015</a></li>
                                     <li><a href="#!">July 2015</a></li>
                                     <li><a href="#!">June 2015</a></li>
                                     <li><a href="#!">May 2015</a></li>
                                 </ul>
                                 <div class="e-divider-2"></div>
                                 <div class="clearfix"></div>
                             </aside>
                             <!--/Archives Widget-->

                         </div>
                     </div>
                     <!--/Sidebar-->

                 </div>
             </div>
            </section>
          </div>
         <!-- /Articles -->
      <!-- /Content Sections -->

