@model JusticeWebApp.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<div id="content">

        <section id="loginForm" class="">
            <div class="container text-center">
                <div class="row"> 
                    <article id="01" class="page-block col-md-12 page hentry">
                        <hgroup>
                            <h1 class="title lined-long e-block-centered">@ViewBag.Title.</h1>
                        </hgroup>
                    </article>
                </div>
            </div>        

            <div class="container">
                <div class="row">
                    <article id="01" class="page-block col-md-12 page hentry">
                        <h2 class="text-center">Please be logged in to access the website.</h2>
                        <p class="text-center">
                            @Html.ActionLink("Register", "Register") if you don't have an account.
                        </p>
                            @Html.Partial("_LoginPartial")
                    </article>
                </div>
            </div>

            <div class="e-divider-3"></div>
            <div class="text-center"><div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div></div>
            <div class="e-divider-3"></div>

            <div class="container">
                <div class="row">
                    <article id="01" class="page-block col-md-12 page hentry">
                        <h2 class="text-center">Use another service to log in.</h2>
                        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                    </article>
                </div>
            </div>
        </section>
 </div>