    /*
    Flaticon icon font: Flaticon
    Creation date: 23/05/2016 23:31
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-anise:before { content: "\f100"; }
.flaticon-art:before { content: "\f101"; }
.flaticon-art-1:before { content: "\f102"; }
.flaticon-art-10:before { content: "\f103"; }
.flaticon-art-11:before { content: "\f104"; }
.flaticon-art-12:before { content: "\f105"; }
.flaticon-art-13:before { content: "\f106"; }
.flaticon-art-14:before { content: "\f107"; }
.flaticon-art-15:before { content: "\f108"; }
.flaticon-art-16:before { content: "\f109"; }
.flaticon-art-17:before { content: "\f10a"; }
.flaticon-art-18:before { content: "\f10b"; }
.flaticon-art-19:before { content: "\f10c"; }
.flaticon-art-2:before { content: "\f10d"; }
.flaticon-art-20:before { content: "\f10e"; }
.flaticon-art-21:before { content: "\f10f"; }
.flaticon-art-22:before { content: "\f110"; }
.flaticon-art-23:before { content: "\f111"; }
.flaticon-art-3:before { content: "\f112"; }
.flaticon-art-4:before { content: "\f113"; }
.flaticon-art-5:before { content: "\f114"; }
.flaticon-art-6:before { content: "\f115"; }
.flaticon-art-7:before { content: "\f116"; }
.flaticon-art-8:before { content: "\f117"; }
.flaticon-art-9:before { content: "\f118"; }
.flaticon-beautiful-lotus-flower:before { content: "\f119"; }
.flaticon-blossom:before { content: "\f11a"; }
.flaticon-carnival-flowers:before { content: "\f11b"; }
.flaticon-christmas-rose:before { content: "\f11c"; }
.flaticon-couple-of-roses-in-symmetry:before { content: "\f11d"; }
.flaticon-decorative-chinese-flower:before { content: "\f11e"; }
.flaticon-dots:before { content: "\f11f"; }
.flaticon-double-symmetry-in-floral-design:before { content: "\f120"; }
.flaticon-floral-ascendant-design:before { content: "\f121"; }
.flaticon-floral-decorations:before { content: "\f122"; }
.flaticon-floral-design-of-flowers-and-leaves-on-branches-lines:before { content: "\f123"; }
.flaticon-floral-design-of-one-flower-and-one-leaf:before { content: "\f124"; }
.flaticon-floral-design-silhouette:before { content: "\f125"; }
.flaticon-floral-design-variant-border:before { content: "\f126"; }
.flaticon-floral-design-with-curled-edges:before { content: "\f127"; }
.flaticon-floral-design-with-flowers-leaves-and-buds-on-vines:before { content: "\f128"; }
.flaticon-floral-design-with-one-closed-central-flower-on-top-of-vines-curves:before { content: "\f129"; }
.flaticon-floral-design-with-symmetry:before { content: "\f12a"; }
.flaticon-floral-design-with-vines-and-swirls:before { content: "\f12b"; }
.flaticon-floral-ornament:before { content: "\f12c"; }
.flaticon-flower:before { content: "\f12d"; }
.flaticon-flower-1:before { content: "\f12e"; }
.flaticon-flower-2:before { content: "\f12f"; }
.flaticon-flower-bud-design-with-vines-and-leaves-silhouette:before { content: "\f130"; }
.flaticon-flower-bud-outline-and-vines-design:before { content: "\f131"; }
.flaticon-flower-on-a-branch-with-three-seeds:before { content: "\f132"; }
.flaticon-flower-on-vines-ornamental-design:before { content: "\f133"; }
.flaticon-flower-ornament:before { content: "\f134"; }
.flaticon-flower-shape:before { content: "\f135"; }
.flaticon-geometric-shapes:before { content: "\f136"; }
.flaticon-lily:before { content: "\f137"; }
.flaticon-line:before { content: "\f138"; }
.flaticon-natural-branch-with-flower-seeds-and-leaf:before { content: "\f139"; }
.flaticon-nature:before { content: "\f13a"; }
.flaticon-nature-1:before { content: "\f13b"; }
.flaticon-nature-10:before { content: "\f13c"; }
.flaticon-nature-11:before { content: "\f13d"; }
.flaticon-nature-12:before { content: "\f13e"; }
.flaticon-nature-13:before { content: "\f13f"; }
.flaticon-nature-14:before { content: "\f140"; }
.flaticon-nature-15:before { content: "\f141"; }
.flaticon-nature-16:before { content: "\f142"; }
.flaticon-nature-17:before { content: "\f143"; }
.flaticon-nature-18:before { content: "\f144"; }
.flaticon-nature-19:before { content: "\f145"; }
.flaticon-nature-2:before { content: "\f146"; }
.flaticon-nature-20:before { content: "\f147"; }
.flaticon-nature-21:before { content: "\f148"; }
.flaticon-nature-3:before { content: "\f149"; }
.flaticon-nature-4:before { content: "\f14a"; }
.flaticon-nature-5:before { content: "\f14b"; }
.flaticon-nature-6:before { content: "\f14c"; }
.flaticon-nature-7:before { content: "\f14d"; }
.flaticon-nature-8:before { content: "\f14e"; }
.flaticon-nature-9:before { content: "\f14f"; }
.flaticon-one-flower-and-one-leaf-on-a-branch:before { content: "\f150"; }
.flaticon-one-flower-floral-design:before { content: "\f151"; }
.flaticon-one-rose:before { content: "\f152"; }
.flaticon-ornament-flower:before { content: "\f153"; }
.flaticon-ornamental-floral-design:before { content: "\f154"; }
.flaticon-plate:before { content: "\f155"; }
.flaticon-rose:before { content: "\f156"; }
.flaticon-rose-1:before { content: "\f157"; }
.flaticon-rose-shape:before { content: "\f158"; }
.flaticon-roses-branch-ornament:before { content: "\f159"; }
.flaticon-shape:before { content: "\f15a"; }
.flaticon-shape-1:before { content: "\f15b"; }
.flaticon-shapes:before { content: "\f15c"; }
.flaticon-shapes-1:before { content: "\f15d"; }
.flaticon-shapes-10:before { content: "\f15e"; }
.flaticon-shapes-11:before { content: "\f15f"; }
.flaticon-shapes-12:before { content: "\f160"; }
.flaticon-shapes-13:before { content: "\f161"; }
.flaticon-shapes-14:before { content: "\f162"; }
.flaticon-shapes-15:before { content: "\f163"; }
.flaticon-shapes-16:before { content: "\f164"; }
.flaticon-shapes-17:before { content: "\f165"; }
.flaticon-shapes-18:before { content: "\f166"; }
.flaticon-shapes-19:before { content: "\f167"; }
.flaticon-shapes-2:before { content: "\f168"; }
.flaticon-shapes-20:before { content: "\f169"; }
.flaticon-shapes-21:before { content: "\f16a"; }
.flaticon-shapes-22:before { content: "\f16b"; }
.flaticon-shapes-23:before { content: "\f16c"; }
.flaticon-shapes-3:before { content: "\f16d"; }
.flaticon-shapes-4:before { content: "\f16e"; }
.flaticon-shapes-5:before { content: "\f16f"; }
.flaticon-shapes-6:before { content: "\f170"; }
.flaticon-shapes-7:before { content: "\f171"; }
.flaticon-shapes-8:before { content: "\f172"; }
.flaticon-shapes-9:before { content: "\f173"; }
.flaticon-spirals-of-vines:before { content: "\f174"; }
.flaticon-three:before { content: "\f175"; }
.flaticon-three-1:before { content: "\f176"; }
.flaticon-tiny-flower:before { content: "\f177"; }
.flaticon-two:before { content: "\f178"; }
.flaticon-two-1:before { content: "\f179"; }
.flaticon-two-2:before { content: "\f17a"; }
.flaticon-two-3:before { content: "\f17b"; }
.flaticon-two-opened-flowers-with-a-couple-of-buds-surrounded-by-leaves-on-vines:before { content: "\f17c"; }
.flaticon-vintage:before { content: "\f17d"; }
.flaticon-water-lily-flower:before { content: "\f17e"; }
    
    $font-Flaticon-anise: "\f100";
    $font-Flaticon-art: "\f101";
    $font-Flaticon-art-1: "\f102";
    $font-Flaticon-art-10: "\f103";
    $font-Flaticon-art-11: "\f104";
    $font-Flaticon-art-12: "\f105";
    $font-Flaticon-art-13: "\f106";
    $font-Flaticon-art-14: "\f107";
    $font-Flaticon-art-15: "\f108";
    $font-Flaticon-art-16: "\f109";
    $font-Flaticon-art-17: "\f10a";
    $font-Flaticon-art-18: "\f10b";
    $font-Flaticon-art-19: "\f10c";
    $font-Flaticon-art-2: "\f10d";
    $font-Flaticon-art-20: "\f10e";
    $font-Flaticon-art-21: "\f10f";
    $font-Flaticon-art-22: "\f110";
    $font-Flaticon-art-23: "\f111";
    $font-Flaticon-art-3: "\f112";
    $font-Flaticon-art-4: "\f113";
    $font-Flaticon-art-5: "\f114";
    $font-Flaticon-art-6: "\f115";
    $font-Flaticon-art-7: "\f116";
    $font-Flaticon-art-8: "\f117";
    $font-Flaticon-art-9: "\f118";
    $font-Flaticon-beautiful-lotus-flower: "\f119";
    $font-Flaticon-blossom: "\f11a";
    $font-Flaticon-carnival-flowers: "\f11b";
    $font-Flaticon-christmas-rose: "\f11c";
    $font-Flaticon-couple-of-roses-in-symmetry: "\f11d";
    $font-Flaticon-decorative-chinese-flower: "\f11e";
    $font-Flaticon-dots: "\f11f";
    $font-Flaticon-double-symmetry-in-floral-design: "\f120";
    $font-Flaticon-floral-ascendant-design: "\f121";
    $font-Flaticon-floral-decorations: "\f122";
    $font-Flaticon-floral-design-of-flowers-and-leaves-on-branches-lines: "\f123";
    $font-Flaticon-floral-design-of-one-flower-and-one-leaf: "\f124";
    $font-Flaticon-floral-design-silhouette: "\f125";
    $font-Flaticon-floral-design-variant-border: "\f126";
    $font-Flaticon-floral-design-with-curled-edges: "\f127";
    $font-Flaticon-floral-design-with-flowers-leaves-and-buds-on-vines: "\f128";
    $font-Flaticon-floral-design-with-one-closed-central-flower-on-top-of-vines-curves: "\f129";
    $font-Flaticon-floral-design-with-symmetry: "\f12a";
    $font-Flaticon-floral-design-with-vines-and-swirls: "\f12b";
    $font-Flaticon-floral-ornament: "\f12c";
    $font-Flaticon-flower: "\f12d";
    $font-Flaticon-flower-1: "\f12e";
    $font-Flaticon-flower-2: "\f12f";
    $font-Flaticon-flower-bud-design-with-vines-and-leaves-silhouette: "\f130";
    $font-Flaticon-flower-bud-outline-and-vines-design: "\f131";
    $font-Flaticon-flower-on-a-branch-with-three-seeds: "\f132";
    $font-Flaticon-flower-on-vines-ornamental-design: "\f133";
    $font-Flaticon-flower-ornament: "\f134";
    $font-Flaticon-flower-shape: "\f135";
    $font-Flaticon-geometric-shapes: "\f136";
    $font-Flaticon-lily: "\f137";
    $font-Flaticon-line: "\f138";
    $font-Flaticon-natural-branch-with-flower-seeds-and-leaf: "\f139";
    $font-Flaticon-nature: "\f13a";
    $font-Flaticon-nature-1: "\f13b";
    $font-Flaticon-nature-10: "\f13c";
    $font-Flaticon-nature-11: "\f13d";
    $font-Flaticon-nature-12: "\f13e";
    $font-Flaticon-nature-13: "\f13f";
    $font-Flaticon-nature-14: "\f140";
    $font-Flaticon-nature-15: "\f141";
    $font-Flaticon-nature-16: "\f142";
    $font-Flaticon-nature-17: "\f143";
    $font-Flaticon-nature-18: "\f144";
    $font-Flaticon-nature-19: "\f145";
    $font-Flaticon-nature-2: "\f146";
    $font-Flaticon-nature-20: "\f147";
    $font-Flaticon-nature-21: "\f148";
    $font-Flaticon-nature-3: "\f149";
    $font-Flaticon-nature-4: "\f14a";
    $font-Flaticon-nature-5: "\f14b";
    $font-Flaticon-nature-6: "\f14c";
    $font-Flaticon-nature-7: "\f14d";
    $font-Flaticon-nature-8: "\f14e";
    $font-Flaticon-nature-9: "\f14f";
    $font-Flaticon-one-flower-and-one-leaf-on-a-branch: "\f150";
    $font-Flaticon-one-flower-floral-design: "\f151";
    $font-Flaticon-one-rose: "\f152";
    $font-Flaticon-ornament-flower: "\f153";
    $font-Flaticon-ornamental-floral-design: "\f154";
    $font-Flaticon-plate: "\f155";
    $font-Flaticon-rose: "\f156";
    $font-Flaticon-rose-1: "\f157";
    $font-Flaticon-rose-shape: "\f158";
    $font-Flaticon-roses-branch-ornament: "\f159";
    $font-Flaticon-shape: "\f15a";
    $font-Flaticon-shape-1: "\f15b";
    $font-Flaticon-shapes: "\f15c";
    $font-Flaticon-shapes-1: "\f15d";
    $font-Flaticon-shapes-10: "\f15e";
    $font-Flaticon-shapes-11: "\f15f";
    $font-Flaticon-shapes-12: "\f160";
    $font-Flaticon-shapes-13: "\f161";
    $font-Flaticon-shapes-14: "\f162";
    $font-Flaticon-shapes-15: "\f163";
    $font-Flaticon-shapes-16: "\f164";
    $font-Flaticon-shapes-17: "\f165";
    $font-Flaticon-shapes-18: "\f166";
    $font-Flaticon-shapes-19: "\f167";
    $font-Flaticon-shapes-2: "\f168";
    $font-Flaticon-shapes-20: "\f169";
    $font-Flaticon-shapes-21: "\f16a";
    $font-Flaticon-shapes-22: "\f16b";
    $font-Flaticon-shapes-23: "\f16c";
    $font-Flaticon-shapes-3: "\f16d";
    $font-Flaticon-shapes-4: "\f16e";
    $font-Flaticon-shapes-5: "\f16f";
    $font-Flaticon-shapes-6: "\f170";
    $font-Flaticon-shapes-7: "\f171";
    $font-Flaticon-shapes-8: "\f172";
    $font-Flaticon-shapes-9: "\f173";
    $font-Flaticon-spirals-of-vines: "\f174";
    $font-Flaticon-three: "\f175";
    $font-Flaticon-three-1: "\f176";
    $font-Flaticon-tiny-flower: "\f177";
    $font-Flaticon-two: "\f178";
    $font-Flaticon-two-1: "\f179";
    $font-Flaticon-two-2: "\f17a";
    $font-Flaticon-two-3: "\f17b";
    $font-Flaticon-two-opened-flowers-with-a-couple-of-buds-surrounded-by-leaves-on-vines: "\f17c";
    $font-Flaticon-vintage: "\f17d";
    $font-Flaticon-water-lily-flower: "\f17e";